{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recess-order"
  ],
  "rules": {
    "alpha-value-notation": null,
    "declaration-empty-line-before": null,
    "selector-class-pattern": null
  }
}
