{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recess-order"
  ],
  "rules": {
    "alpha-value-notation": null,
    "color-function-notation": "legacy",
    "declaration-empty-line-before": null,
    "property-no-vendor-prefix": null,
    "selector-class-pattern": null,
    "selector-no-vendor-prefix": null,
    "value-no-vendor-prefix": null
  }
}
