.AudioFieldset {
  margin: 12px 0;
  padding: 12px 0;
  width: 20%;
  background-color: rgba(255, 255, 255, 0.05);
}

.AudioFieldset > fieldset {
  border: none;
}

.AudioFieldset > fieldset > legend {
  display: block;
  margin: 0 auto 8px;
  width: var(--fieldset-width);
  font-family: "Neuton", serif;
  font-size: 22px;
  font-weight: lighter;
  color: var(--assort-color);
  text-transform: uppercase;

  /* Webkit only */

  /*
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image:-webkit-linear-gradient(to bottom, var(--assort-color), rgba(#b200b2, 1.0) 55%, rgba(#a000a0, 1.0) 50%, rgba(#b700b7, 1.0));
  */
}

.AudioFieldset__selectAudio {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 auto 12px;
  width: var(--fieldset-width);
}
