.Switch > label {
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 4px;
}

.Switch > label > span {
  cursor: pointer;
  display: inline-block;
  margin-left: 12px;
  vertical-align: -12px;
  width: 58px;
  height: 34px;

  /* for Retina Display */
  background-size: 58px 68px;

  /* CSS Sprite */
  background-image: url(/assets/images/flip-switch.png);
  background-position: left top;
  background-repeat: no-repeat;
}

.Switch.-checked > label > span {
  background-position: left bottom;
}
