.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image:
    linear-gradient(
      to bottom,
      var(--assort-color),
      rgba(#b200b2, 1) 55%,
      rgba(#a000a0, 1) 50%,
      rgba(#b700b7, 1)
    );
}

.image-link:hover,
.image-link:focus,
.image-link:active {
  text-decoration: none;
}

.visual-hidden {
  position: absolute;
  margin: -1px;
  border: none;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
