.Spacer.-space2 {
  margin-bottom: 2px;
}

.Spacer.-space4 {
  margin-bottom: 4px;
}

.Spacer.-space8 {
  margin-bottom: 8px;
}

.Spacer.-space12 {
  margin-bottom: 12px;
}

.Spacer.-space16 {
  margin-bottom: 16px;
}

.Spacer.-space20 {
  margin-bottom: 20px;
}

.Spacer.-space24 {
  margin-bottom: 24px;
}

.Spacer.-space28 {
  margin-bottom: 28px;
}

.Spacer.-space32 {
  margin-bottom: 32px;
}
