.BasicControllers {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  padding: 24px 0;
  background-color: rgba(255, 255, 255, 0.05);
}

/* HACK */
.BasicControllers > .Select {
  margin: 0;
}
