.Analyser {
  padding: 0 48px;
  background-color: rgba(255, 255, 255, 0.05);
}

.Analyser[aria-hidden="true"] {
  display: none;
}

.Analyser[aria-hidden="false"] {
  display: block;
}

.Analyser__svg {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.Analyser__svg > dl > dt {
  font-size: 12px;
  color: var(--white);
  text-transform: uppercase;
}

.Analyser__svg > dl > dd {
  margin-top: 12px;
  border: 2px solid rgba(255, 255, 255, 0.05);
  box-shadow:
    0 0 0 2px var(--black),
    0 -1px 1px 5px rgba(0, 0, 0, 0.5);
}

.Analyser__svg > dl:first-child > dd {
  width: 420px;
  margin-top: 8px;
  overflow-x: auto;
}

.Analyser__svg > dl > dd > svg {
  background-color: var(--black);
}

.Analyser__svg > dl:first-child > dd > svg:hover {
  cursor: ew-resize;
}

.Analyser__channelSelector {
  display: inline-block;
  width: 50px;
  height: 22px;
  margin-right: 4px;
  margin-bottom: 2px;
  vertical-align: middle;

  /* CSS Sprite */
  background-image: url("/assets/images/flip-switch-channel.png");
  background-repeat: no-repeat;

  /* for Retina Display */
  background-size: 50px 44px;
}

.Analyser__channelSelector.-left {
  background-position: left top;
}

.Analyser__channelSelector.-right {
  background-position: left bottom;
}

.Analyser__dragTime {
  margin-left: 12px;
}

.Analyser__controllers {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin-top: 24px;
}

.Analyser.-active {
  padding: 24px 48px;
}

.Analyser__svg,
.Analyser__controllers {
  max-height: 0;
  overflow: hidden;
  transition: max-height ease 0.6s;
}

.Analyser.-active .Analyser__svg,
.Analyser.-active .Analyser__controllers {
  max-height: 100vh;
}
